.Wrapper {
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.Small {
  color: red;
}

.Loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgb(90, 89, 89);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
