@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding: 0;
  box-sizing: border-box;
}

#calc-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  width: 320px;
  height: 550px;
  padding: 3px 5px;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

.result {
  height: 120px;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
}
.keyboard {
  height: 410px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.previous {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.operator,
.number,
.empty {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.prev-value {
  font-size: 1.4rem;
  margin-right: 15px;
  color: grey;
}
.output {
  flex: 0.7;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.output-value {
  font-weight: bold;
  font-size: 3.4rem;
  transition: 200ms ease-in all;
  overflow: hidden;
  margin-right: 15px;
  color: #ffad00;
}
.keyboard {
}
@media screen and (max-width: 768px) {
  .calc {
  }
}
