body{
    background: rgb(4, 49, 16);
    color: rgb(22, 102, 206);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.stopwatch{
    font-size: 15em;
    font-family: monospace;
}

ul{
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
    padding: 10px 0;
}